<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.webServer>
		
	 <httpErrors errorMode="Detailed" />
	 <asp scriptErrorSentToBrowser="true" />
	  
   </system.webServer>
		
	
	<system.web>
	 <pages enableEventValidation="false" viewStateEncryptionMode="Never"></pages>
		
		<customErrors mode="Off" />
		
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		 
		  
		<globalization culture="es-CL" uiCulture="es" />
	</system.web>
</configuration>