/* <RadMenu / Telerik> */

.RadMenu_mipnet .rmRootGroup,
.RadMenu_mipnet .rmLink,
.RadMenu_mipnet .rmText,
.RadMenu_mipnet .rmLeftArrow,
.RadMenu_mipnet .rmRightArrow,
.RadMenu_mipnet .rmTopArrow,
.RadMenu_mipnet .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_mipnet .rmRootGroup
{
	/*border: 0px solid #828282;*/
	border: 0px solid #828282;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #6a8f3f;
}

/* <Root items> */

.RadMenu_mipnet,
.RadMenu_mipnet .rmLink
{
	font: normal 11px/25px "Verdana", Arial, sans-serif;
	/*font-family: Verdana;*/
	font-size:10px;
	color: #ffffff;
	text-decoration: none;
	font-weight:bold;
}

.RadMenu_mipnet .rmLink,
.RadMenu_mipnet .rmDisabled,
.RadMenu_mipnet .rmDisabled:hover
{
	background-position: 0 -72px;
	
	
	
}

.RadMenu_mipnet .rmText,
.RadMenu_mipnet .rmDisabled .rmText,
.RadMenu_mipnet .rmDisabled:hover .rmText
{
	background-position: 100% -96px;
	
}

.RadMenu_mipnet .rmFirst .rmLink,
.RadMenu_mipnet .rmFirst .rmLink:hover,
.RadMenu_mipnet .rmLast .rmText,
.RadMenu_mipnet .rmLast .rmLink:hover .rmText,
.RadMenu_mipnet .rmVertical .rmLink,
.RadMenu_mipnet .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
	
	
}

.RadMenu_mipnet .rmVertical .rmFirst,
.RadMenu_mipnet .rmVertical .rmLast
{
	background: none;
	
}

.RadMenu_mipnet .rmLink:hover,
.RadMenu_mipnet .rmFocused
{
	background-color: #fff;
	color: #000;
	
}

.RadMenu_mipnet .rmVertical .rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
	color:#000;/* esto esta de mas*/
}

.RadMenu_mipnet .rmVertical .rmLink:hover,
.RadMenu_mipnet .rmVertical .rmFocused,
.RadMenu_mipnet .rmVertical .rmSelected,
.RadMenu_mipnet .rmVertical .rmExpanded,
.RadMenu_mipnet .rmVertical .rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 0px;
}

.RadMenu_mipnet .rmVertical .rmFirst .rmLink:hover,
.RadMenu_mipnet .rmVertical .rmFirst .rmFocused,
.RadMenu_mipnet .rmVertical .rmFirst .rmSelected,
.RadMenu_mipnet .rmVertical .rmFirst .rmExpanded,
.RadMenu_mipnet .rmVertical .rmFirst .rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_mipnet .rmVertical .rmLast .rmLink:hover,
.RadMenu_mipnet .rmVertical .rmLast .rmFocused,
.RadMenu_mipnet .rmVertical .rmLast .rmSelected,
.RadMenu_mipnet .rmVertical .rmLast .rmExpanded,
.RadMenu_mipnet .rmVertical .rmLast .rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_mipnet .rmVertical .rmItem .rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_mipnet .rmExpanded,
.RadMenu_mipnet .rmExpanded:hover
{
	background-color: #fff;
	background-position: 0 -72px;
	color:#424242;
}

.RadMenu_mipnet .rmExpanded .rmText,
.RadMenu_mipnet .rmExpanded:hover .rmText
{
	background-position: 100% -96px;
}

.RadMenu_mipnet .rmLast .rmExpanded .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_mipnet .rmDisabled,
.RadMenu_mipnet .rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_mipnet .rmGroup,
.RadMenu_mipnet .rmGroup .rmVertical
{
	border: 1px solid #979797;
	background: #fff url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_mipnet .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_mipnet_rtl .rmGroup,
.RadMenu_mipnet_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_mipnet .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_mipnet .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_mipnet .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_mipnet .rmGroup .rmItem .rmLink,
.RadMenu_mipnet .rmGroup .rmItem .rmLink:hover,
.RadMenu_mipnet .rmGroup .rmItem .rmFocused,
.RadMenu_mipnet .rmGroup .rmItem .rmSelected,
.RadMenu_mipnet .rmGroup .rmItem .rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	text-align:left;
	padding-left:10px;
}

.RadMenu_mipnet .rmGroup .rmLast .rmLink,
.RadMenu_mipnet .rmGroup .rmLast .rmLink:hover,
.RadMenu_mipnet .rmGroup .rmLast .rmFocused,
.RadMenu_mipnet .rmGroup .rmLast .rmSelected,
.RadMenu_mipnet .rmGroup .rmLast .rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_mipnet .rmGroup .rmLink,
.RadMenu_mipnet .rmGroup .rmText,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled:hover,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled .rmText,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_mipnet .rmGroup .rmLink:hover,
.RadMenu_mipnet .rmGroup .rmFocused,
.RadMenu_mipnet .rmGroup .rmSelected,
.RadMenu_mipnet .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_mipnet .rmGroup .rmLink:hover .rmText,
.RadMenu_mipnet .rmGroup .rmFocused .rmText,
.RadMenu_mipnet .rmGroup .rmSelected .rmText,
.RadMenu_mipnet .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_mipnet .rmGroup .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmExpandDown,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled .rmExpandDown,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled:hover .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmItem .rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_mipnet .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmFocused .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmSelected .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_mipnet .rmGroup .rmFocused .rmExpandDown,
.RadMenu_mipnet .rmGroup .rmSelected .rmExpandDown,
.RadMenu_mipnet .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_mipnet .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_mipnet .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_mipnet_rtl .rmLink
{
	background-position: 100% -96px;
}

.RadMenu_mipnet_rtl .rmText
{
	background-position: 0 -72px;
}

.RadMenu_mipnet_rtl .rmVertical .rmExpanded .rmText,
.RadMenu_mipnet_rtl .rmVertical .rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_mipnet_rtl .rmGroup .rmLink:hover,
.RadMenu_mipnet_rtl .rmGroup .rmFocused,
.RadMenu_mipnet_rtl .rmGroup .rmSelected,
.RadMenu_mipnet_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_mipnet_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_mipnet_rtl .rmGroup .rmFocused .rmText,
.RadMenu_mipnet_rtl .rmGroup .rmSelected .rmText,
.RadMenu_mipnet_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_mipnet_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_mipnet_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_mipnet_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_mipnet_rtl .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_mipnet_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Telerik - specific, overlapping submenus)> */

.RadMenu_mipnet .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_mipnet .rmVertical .rmSlide,
.RadMenu_mipnet .rmSlide .rmSlide,
.RadMenu_mipnet_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_mipnet_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_mipnet_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_mipnet_rtl .rmVertical .rmSlide,
.RadMenu_mipnet_rtl .rmSlide .rmSlide,
.RadMenu_mipnet_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_mipnet .rmLeftArrow,
.RadMenu_mipnet .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_mipnet .rmLeftArrow { background-position: -8px -312px; border-right: 0px solid #828282; }
.RadMenu_mipnet .rmRightArrow { background-position: -482px -216px; border-left: 0px solid #828282; }

.RadMenu_mipnet .rmTopArrow,
.RadMenu_mipnet .rmBottomArrow,
.RadMenu_mipnet .rmGroup .rmLeftArrow,
.RadMenu_mipnet .rmGroup .rmRightArrow
{
	background-color: #E6E6E6;
}

.RadMenu_mipnet .rmTopArrow { background-position: 50% -367px; border-bottom: 0px solid #828282; }
.RadMenu_mipnet .rmBottomArrow { background-position: 50% -391px; border-top: 0px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_mipnet .rmHorizontal .rmSeparator .rmText,
.RadMenu_mipnet .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #A8A8A8;
}

.RadMenu_mipnet_Context .rmSeparator .rmText,
.RadMenu_mipnet .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_mipnet .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

/* </Separators> */

/* </RadMenu / Telerik> */